#govuk {
    width: 30%;
    margin-left: 10px;
    padding-bottom: 3px;
}

.logo-container {
    background-color: rgba(29, 124, 165, 0.164);
    height: 30px;
    width: 70%;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 15px;
    
}

#api-author {
    font-size: 0.85em;
}

.list-group-item {
    border-radius: 10px;
}

#travel-img {
    width: 85%;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.all-advisories {
    margin: 5px;
}
